/* FOLLOW USER ELEMENT */

.follow-user-element-container {
  width: 100%;
  padding: 10px 0;
  background-color: inherit;
  color: white;
}

.follow-user-top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.follow-user-info {
  display: flex;
}

.follow-user-names {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  align-items: start;
  justify-content: center;
}

.follow-user-bottom-section {
  margin: 0 0 0 60px;
  font-size: 0.9rem;
}

/* POST ELEMENT */
.post-element-container{
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(47, 51, 54);
  border-top: none;
}

.repost-label{
  color: rgb(47, 51, 54);
  padding: 10px 10px 0;
  display: flex;
}

.repost-label svg{
  margin-right: 5px;
}

.repost-label span{
  margin-right: 5px;
}

.post-element {
  background-color: black;
  color: white;
  /* change later to inherit*/
  width: 100%;
  min-width: 340px;
  display: flex;
  border-top: none;
}

.post-element-users-info {
  display: flex;
  flex-direction: column;
}

.post-element-left-side {
  padding: 15px 0 15px 15px;
  position: relative;
}

.post-element-users-info-and-settings {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

.post-element-users-info {
  display: flex;
  flex-direction: row;
}

.post-element-users-info span {
  margin-right: 10px;
}

.post-element-settings {
  color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  position: relative;
}

.edit-post-element{
  position: absolute;
  top: -90px;
  left: -60px;
  background-color: black;
  padding: 15px;
  border: 1px solid rgb(37, 37, 37);
  border-radius: 10px;
  z-index: 100;
}

.edit-post-element button{
  background-color: inherit;
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
}

.line{
  height: 1px;
  background-color: rgb(47, 51, 54);
  margin: 5px 0;
}

.edit-post-element button:hover{
  color: hsl(206, 95%, 55%);
}

.post-element-right-side {
  padding: 15px;
  width: 100%;
}

.post-element-interactions {
  display: flex;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.3);
}

.post-element-interactions div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  cursor: pointer;
}

.post-element-interactions svg {
  height: 20px;
  width: 20px;
}

.post-element-comment-icon,
.post-element-like-icon,
.post-element-retweet-icon,
.post-element-bookmark-icon,
.post-element-settings-icon,
.new-post-icon {
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

.post-element-comment,
.post-element-retweet,
.post-element-like,
.post-element-bookmark,
.new-post-icon {
  transition: all 0.2s ease;
}

.likes-number-active{
  color: white;
}

.post-element-comment:hover,
.post-element-bookmark:hover,
.post-element-settings:hover {
  color: hsl(206, 95%, 55%);
}
.post-element-comment:hover .post-element-comment-icon,
.post-element-bookmark:hover .post-element-bookmark-icon,
.post-element-settings:hover .post-element-settings-icon,
.new-post-icon:hover {
  background-color: hsl(206, 90%, 7%);
}
.post-element-retweet:hover {
  color: hsl(160, 95%, 55%);
}
.post-element-retweet:hover .post-element-retweet-icon {
  background-color: hsl(160, 95%, 7%);
}
.post-element-like:hover {
  color: hsl(332, 95%, 55%);
}
.post-element-like:hover .post-element-like-icon {
  background-color: hsl(332, 95%, 7%);
}

.post-paragraph {
  margin: 0 0 10px;
}

.post-paragraph-edit{
  background-color: inherit;
  color: white;
  width: calc(100% - 50px);
  resize: none;
  height: 100px;
}

/* search element */

.search-element{
  width: calc(100%-20px);
  height: 20px;
  display: grid;
  align-content: center;
  grid-template-columns: auto 1fr auto;
  padding: 15px 10px;
  background-color: hsl(214, 10%, 14%);
  border-radius: 50px;
  border: 1px solid hsl(214, 10%, 14%);
  margin: 15px 0;
}

.search-element-search-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  color: hsl(214, 10%, 40%);
}

.search-element-input{
  background-color: hsl(214, 10%, 14%);
  color: white;
  font-size: 1rem;
  border: none;
}

.search-element-input:focus{
  outline: none;
  background-color: inherit;
}
  
.search-element:focus-within{
  border: 1px solid hsl(206, 95%, 55%);
  background-color: black;
}

.search-element:focus-within .search-element-search-icon{
  color: hsl(206, 95%, 55%);
}

.search-element-x-button{
  display: none;
  background-color: hsl(206, 95%, 55%);
  border-radius: 50%;
  border: none;
  height: 30px;
  width: 30px;
  color: black;
}

.search-element-input:focus ~ .search-element-x-button{
  display: block;
}

.search-element-x-button svg{
  margin-left: 0;
  width: 100%;
  height: 100%;
}

/* who to follow element */

.who-to-follow{
  margin: 15px 0;
  width: calc(100%-40px);
  height: 260px;
  padding: 20px;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  border-radius: 16px;
  border: 1px solid rgb(47, 51, 54);
  /* DEFAULT BORDER */
}

.who-to-follow .link{
  background: none;
  border: none;
}

.who-to-follow-span{
  font-size: 1.3rem;
  font-weight: 700;
}

.who-to-follow-users-container{
  width: 100%;
}

/* new post element */

.new-post-element{
  background-color: black;
  width: 100%;
  min-width: 340px;
  height: 150px;
  display: grid;
  grid-template-columns: auto 1fr;
  border: 1px solid rgb(47, 51, 54);
  border-top: none;
}

.new-post-element-ls{
  padding: 15px;
}

.new-post-element-rs{
  padding: 15px 15px 15px 0;
  display: grid;
  grid-template-rows: 1fr auto;
}

.new-post-element-button:disabled{
  color: hsl(206, 95%, 35%);
}

.new-post-input{
  background-color: inherit;
  border: none;
  color: white;
  display: flex;
  font-size: 1rem;
  resize: none;
}

.new-post-input::-webkit-scrollbar {
  background-color: black;
  margin-left: 15px;
}

.new-post-input::-webkit-scrollbar-thumb {
  background-color: rgb(37, 37, 37);
  border-radius: 10px;
}

/* change later - make height adjustable based on text lenght */

.new-post-input:focus{
  outline: none;
}

.new-post-bs-ls{
  color: hsl(206, 95%, 55%);
  display: flex;
}

.new-post-element-rs-bs{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
} 

.new-post-bs-rs button{
  height: 35px;
  margin: 0;
  width: 70px;
  text-align: center;
  padding: 0;
  font-size: 0.9rem;
}

/* commented post element */

.post-element.commented-post-element{
  border-bottom: none;
}

.commented-post-line{
  height: calc(100% - 50px);
  width: 2px;
  background-color: rgb(47, 51, 54);
  position: absolute;
  right: calc(50% - 9px);
}

/* PROFILE DETAIL */

.profile-detail{
  background-color: black;
  border: 1px solid rgb(47, 51, 54);
  border-top: none;
}

.pd-cover-and-profile{
  width: 100%;
  height: 200px;
  position: relative;
}

.pd-cover-picture{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pd-profile-picture{
  position: absolute;
  bottom: -70px;
  left: 20px;
}

.pd-profile-picture .medium-profile-picture{
  outline: 5px solid black;
  width: 130px;
  height: 130px;
}

.pd-interactions{
  display: flex;
  justify-content: end;
  padding: 10px 20px;
  margin-bottom: 35px;
}

.pd-information{
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

.pd-information .users-name{
  color: white !important;
  font-size: 1.3rem;
}

.pd-information .users-at{
  font-size: 1rem;
}

.pd-bio{
  color: white;
  padding: 0 20px;
}

.pd-stats{
  color: white;
  display: flex;
  padding: 0 20px;
}

.pd-stats p{
  margin: 0;
  margin-right: 25px;
  font-size: 0.8rem;
  font-weight: 500;
}

.pd-navigation{
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

.interaction-container{
  width: 60px;
  height: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 10px 0px;
  color: rgba(255, 255, 255, 0.3);
  text-align: center;
}

.interaction-container.active{
  color: white;
  font-weight: 500;
}

.interaction-container.active .bottom-line{
  display: block;
}

.pd-navigation .bottom-line{
  background-color: hsl(206, 95%, 55%);
  height: 5px;
  border-radius: 2px;
  display: none;
}