/* SIGNUP PAGE */

.signup-page{
  width: calc(100vw - 17px);
  height: 100vh;
  display: flex;
  background-color: black;
  align-items: center;
  justify-content: center;
}

.signup-page h1{
  font-size: 4rem;
  margin-bottom: 1rem;
}

.signup-page h3{
  font-size: 2rem;
}

.signup-left-side{
  width: 50%;
  display: flex;
  justify-content: center;
}

.signup-x-logo{
  width: 40%;
}

.or-statement{
  width: 40%;
  display: grid;
  grid-template-columns: 1fr 30px 1fr;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

.or-statement div{
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3); 
}

.or-statement span{
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-right-side{
  width: 50%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  color: white;
}

.third-party-signup{
  display: flex;
  align-items: center;
  justify-content: center;
}

.third-party-signup svg{
  margin-right: 5px;
}

.signup-page button{
  width: 40%;
  height: 50px;
  border-radius: 25px;
  margin: 5px 0;
  font-weight: 700;
  cursor: pointer;
  font-size: 1rem;
}

.already-have-acc{
  font-weight: 700;
}

.sign-up-note{
  width: 40%;
}

.create-account-button{
  background-color: hsl(206, 95%, 55%);
  color: inherit;
  border: none;
}

.sign-in-button{
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: hsl(206, 95%, 55%);
}

/* NAVBAR */

.navbar-container{
  width: 300px;
  height: 900px;
  /* change to 100% later */
  background-color: black;
  /* change to inherit later */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin: 50px;
  /* change - delete margin later */
}

.navbra-top-section div:nth-child(1):hover{
  background-color: white;
}

.navbar-element img{
  height: 100%;
}

.navbar-element{
  height: 40px;
  padding: 10px 20px;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: start;
  width: fit-content;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.2s ease;
  }
  
.navbar-element:hover{
  background-color: rgba(255, 255, 255, 0.1);
}

.navbar-element svg{
  height: 100%;
  width: 30px;
  margin-right: 15px;
}

.navbar-post-button{
  width: 80%;
  margin: 20px 0;
  background-color: hsl(206, 95%, 55%);
  height: 60px;
  border-radius: 30px;
  font-weight: 700;
  color: white;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

.navbar-post-button:hover{
  background-color: hsl(206, 95%, 45%);
}

.navbar-bottom-section{
  width: calc(100% - 50px);
  margin: 0 10px 30px 0;
  padding: 10px 20px;
  border-radius: 40px;
  display: flex;
  transition: all 0.2s ease;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
}

.navbar-bottom-section img{
  margin-right: 15px;
}

.navbar-bottom-section div{
  display: flex;
}

.navbar-bottom-section:hover{
  background-color: rgba(255, 255, 255, 0.1);
}

.navbar-users-names{
  display: flex;
  flex-direction: column;
}