/* SIGNUP PAGE */

.signup-page{
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: black;
  align-items: center;
  justify-content: center;
}

.signup-page h1{
  font-size: 4rem;
  margin-bottom: 1rem;
}

.signup-page h3{
  font-size: 2rem;
}

.signup-left-side{
  width: 50%;
  display: flex;
  justify-content: center;
}

.signup-x-logo{
  width: 40%;
}

.or-statement{
  width: 40%;
  display: grid;
  grid-template-columns: 1fr 30px 1fr;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

.or-statement div{
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3); 
}

.or-statement span{
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-right-side{
  width: 50%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  color: white;
}

.third-party-signup{
  display: flex;
  align-items: center;
  justify-content: center;
}

.third-party-signup svg{
  margin-right: 5px;
}

.signup-page button{
  width: 40%;
  height: 50px;
  border-radius: 25px;
  margin: 5px 0;
  font-weight: 700;
  cursor: pointer;
  font-size: 1rem;
}

.already-have-acc{
  font-weight: 700;
}

.sign-up-note{
  width: 40%;
}

.create-account-button{
  background-color: hsl(206, 95%, 55%);
  color: inherit;
  border: none;
}

.sign-in-button{
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: hsl(206, 95%, 55%);
}